Standard: Latest
BasedOnStyle: Google
UseTab: Never
IndentWidth: 4
TabWidth: 4
AccessModifierOffset: -4
NamespaceIndentation: Inner
AllowShortIfStatementsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
DerivePointerAlignment: false
PointerAlignment: Right 
ReferenceAlignment: Left
BreakBeforeBraces: Custom
ColumnLimit: 120
ConstructorInitializerAllOnOneLineOrOnePerLine: false
BraceWrapping:
  SplitEmptyFunction: false
  AfterExternBlock: false
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false